@tailwind base;
@tailwind components;
@tailwind utilities;
  
  .collection-item {
    position: absolute;
    top: 2vw;
    right: 2vw;

    display: flex;
    flex-direction: column;

    background-color: antiquewhite;
    padding: 4px;

    border-radius: 4px;

    width: 25vw;
  }

  .none {
    flex-direction: row;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;

    margin: 2px;
    padding: 2px;
  }

  .thumbnail {
    background-color:bisque;
    margin: 4px;
    padding: 4px;

    width: 64px;
    height: 64px;
  }
  
  .header-info {
    display: flex;
    flex-direction: column;

    flex: 1;
    justify-content: center;
    
  }
  
  .title {
    padding: 4px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: bold;
  }
  
  .artist {
    background-color:bisque;
    padding: 4px;
    
    font-style: italic;
  }

  .tracks {
    background-color:bisque;
    margin: 4px;
    padding: 4px;
    
    font-style: italic;
  }